<nav
  id="navbar"
  class="sticky top-2 z-20 mx-auto flex h-[80px] w-[80%] items-center justify-between 
         rounded-md  bg-transparent px-6 transition-all duration-500 ease-in-out"
>
  <h1
    id="navbar-title"
    class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl poppins-semibold transition-all duration-500"
  >
    <span id="txt1" class="text-[#123472]">Adag</span><span id="txt2" class="text-[#ff0040]">IO</span>
  </h1>
  <a
    id="contacto"
    href="#contacto"
    class="text-white bg-gray-950/90 px-4 py-2 rounded-lg text-base sm:text-lg md:text-xl 
           font-semibold transition-colors duration-500 whitespace-nowrap"
  >
    Contacto
  </a>
</nav>

<script>
  const nav = document.getElementById("navbar");
  const sp1 = document.getElementById("txt1");
  const sp2 = document.getElementById("txt2");

  function handleScroll() {
    if (window.scrollY === 0) {
      // Arriba → ancho base y fondo transparente
      nav.classList.remove("w-[95%]", "sm:w-[90%]", "md:w-[70%]", "lg:w-[35%]");
      nav.classList.add("w-[80%]");

      // Fondo y blur
      nav.classList.remove("bg-gray-950/20", "backdrop-blur-xs");
      nav.classList.add("bg-transparent");

      sp1.classList.add("text-[#123472]")
      sp2.classList.add("text-[#ff0040]")
      sp1.classList.remove("text-white")
      sp2.classList.remove("text-white")

    } else {
      sp1.classList.remove("text-[#123472]")
      sp2.classList.remove("text-[#ff0040]")
      sp1.classList.add("text-white")
      sp2.classList.add("text-white")
      // Scroll → ancho responsive
      nav.classList.remove("w-[80%]");
      nav.classList.add(
        "w-[95%]",   // móviles
        "sm:w-[90%]",
        "md:w-[70%]",
        "lg:w-[35%]"
      );

      // Fondo y blur
      nav.classList.remove("bg-transparent");
      nav.classList.add("bg-gray-950/20", "backdrop-blur-xs");
    }
  }

  // Inicializa
  handleScroll();
  window.addEventListener("scroll", handleScroll, { passive: true });
</script>
