<div class="bg-white w-full flex flex-col items-center ">

    <div class="flex items-start justify-center gap-10 h-[500px]  w-[80%]">
        <div class="flex flex-col gap-3  w-1/2">
            <h1 class="text-5xl font-medium ml-10 mt-4">🚀</h1>
            <h1 class="text-2xl font-medium ml-10 mt-8">Ponte en contacto con nosotros hoy mismo</h1>
            <p class="ml-10 w-[60%] text-sm font-normal text-gray-600">Si tienes alguna pregunta o necesitas ayuda con algo, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.</p>
        </div>
        <form name="Contacto" method="POST" data-netlify="true">
            <p>
                <label>Your Name: <input type="text" name="name" /></label>
              </p>
              <p>
                <label>Your Email: <input type="email" name="email" /></label>
              </p>
              <p>
                <label>Your Role: <select name="role[]" multiple>
                  <option value="leader">Leader</option>
                  <option value="follower">Follower</option>
                </select></label>
              </p>
              <p>
                <label>Message: <textarea name="message"></textarea></label>
              </p>
              <p>
                <button type="submit">Send</button>
              </p>
        </form>
    </div>
</div>