---
import TagDemo from "../components/SingleComponent/TagDemo.astro";
import "../styles/global.css";

export interface Props {
  title?: string;
}

const { title = "AdagIO Demo" } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- Demo tag -->
		<TagDemo Position="TL" Color="#fff" Background="" />
		<slot />
		
		<!-- Footer -->
		<footer style="margin-top: auto; padding: 16px; background-color: rgb(17 24 39); color: white; text-align: center;">
			<p style="font-size: 14px; margin: 0;">© 2024 AdagIO - Demo Preview</p>
		</footer>
	</body>
</html>

<style>
	html{
		background-color: #f5f4f6;
	}
</style>
