---
import "../styles/global.css";
import EndPage from "../components/SingleComponent/EndPage.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>AdagIO</title>
	</head>
	<body class="flex flex-col min-h-screen w-full">
		<slot />
		<EndPage />
	</body>
</html>

<style>
	html {
		background-color: #f5f4f6;
	}
	html,
	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden; /* evita que algo “empuje” el html */
	}
</style>
